<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main-page-style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <h2>Forms</h2>
        <ul class="form-list">
            <li th:each="form : ${forms}">
                <form class="inline" th:object="${form}" th:action="@{/form}" method="get">
                    <input type="hidden" name="id" th:value="${form.id}" />
                    <input type="hidden" name="firstName" th:value="${form.firstName}" />
                    <input type="hidden" name="lastName" th:value="${form.lastName}" />
                    <input type="hidden" name="surname" th:value="${form.surname}" />
                    <input type="hidden" name="yearOfBirth" th:value="${form.yearOfBirth}" />
                    <input type="hidden" name="gender" th:value="${form.gender}" />
                    <input type="hidden" name="occupation" th:value="${form.occupation}" />
                    <button class="update-button" type="submit">Update</button>
                </form>
                <form class="inline" th:object="${form}" th:action="@{/form/delete}" th:method="post">
                    <input type="hidden" name="id" th:value="${form.id}" />
                    <button class="delete-button" type="submit">Delete</button>
                </form>
                <div class="inline">
                    <span th:text="${form.firstName}"></span>
                    <span th:text="${form.lastName}"></span>
                    <span th:text="${form.surname}"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="create-form-button">
    <a class="create-button" th:href="@{/form}">Create Form</a>
</div>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        let resultMessage = document.querySelector(".result-message");

        if (resultMessage) {
            resultMessage.style.display = "block";

            setTimeout(function() {
                resultMessage.style.display = "none";
            }, 3000);
        }
    });
</script>
</body>
</html>